<app-header titulo="Despesas"></app-header>

<ion-content fullscreen>
  <ion-list lines="full" class="scroll-content">

    <ion-item-sliding  *ngFor="let despesa of despesaService.despesas" >
      <ion-item (click)="detalhar(despesa.id)">
        <ion-label text-wrap>
          <ion-text color="primary"> {{despesa.tipo}} : {{ formatarData( despesa.data ) }} </ion-text>
          <ion-text>
            <p>{{despesa.valor | currency}}</p>
          </ion-text>
          <p style="overflow: hidden">{{ despesa.descricao }}</p>
        </ion-label>
        <fa-icon [icon]="['fas', 'chevron-left']"></fa-icon>
      </ion-item>

      <ion-item-options side="end" class="sliding-enabled">
        <ion-item-option color="danger" (click)="excluir(despesa.id)">  
          <fa-icon [icon]="['fas', 'trash-alt']"></fa-icon>
          <label style="padding: 0 5px">Excluir </label>
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>

  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab style="color:rgba(42, 103, 163, 0.2); font-weight: 700" label="Nova Despesa" href="/despesas/nova">
      </ion-tab>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
