<app-header titulo="Minhas reservas"></app-header>

<ion-content fullscreen>
  <ion-list lines="full" class="scroll-content">

    <ion-item-sliding  *ngFor="let reserva of reservas" >
      <ion-item  (click)="detalhar(reserva.id)">
        <ion-label text-wrap>
          <ion-text color="primary"> {{reserva.entrada | date:'dd/mm/yy HH:mm:ss'}} </ion-text>
          <ion-text>
            <p>{{ reserva.veiculo.modelo }}</p>
          </ion-text>
          <p style="overflow: hidden"> Status {{ reserva.status }}</p>
        </ion-label>
      </ion-item>

    </ion-item-sliding>

  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab style="color:rgba(42, 103, 163, 0.2); font-weight: 700" label="Nova Despesa" href="/despesas/nova">
      </ion-tab>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
