<app-header titulo="Denuncias"></app-header>

<ion-content fullscreen>
  <ion-list lines="full" class="scroll-content">

    <ion-item-sliding  *ngFor="let denuncia of denuncias" >
      <ion-item  (click)="detalharDenuncia(denuncia.id)">
        <ion-label text-wrap>
          <ion-text color="primary"> {{denuncia.descricao}} </ion-text>
          <ion-text>
            <p>{{denuncia.data | date:'dd/mm/yy HH:mm:ss'}}</p>
          </ion-text>
          <p style="overflow: hidden"> Denciada por {{ denuncia.relator.nome }}</p>
        </ion-label>
      </ion-item>

    </ion-item-sliding>

  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab style="color:rgba(42, 103, 163, 0.2); font-weight: 700" label="Nova Despesa" href="/despesas/nova">
      </ion-tab>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
