<ion-header class="header header-md ">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md" defaultHref="home" ></ion-back-button>
    </ion-buttons>
    <ion-title class="title-md "> Voltar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="content-container" padding fullscreen text-center>
  
  <ion-title class="home-title"> Pesquisa de vagas </ion-title>

  <agm-map  [zoom]="15" [latitude]="quarteiroes[0].latitude" [longitude]="quarteiroes[0].longitude">
    <agm-marker  
      *ngFor="let quarteirao of quarteiroes" 
      [latitude]="quarteirao.latitude" 
      [longitude]="quarteirao.longitude" >

      <agm-info-window>
        <p> <strong> Rua {{ quarteirao.rua.nome }}</strong> </p>
        <p>Vagas livres: {{ getVagasLivres(quarteirao) }}</p>
        <p>
            <a class="clickable" (click)="abrirVagas(quarteirao.id)">
                <i class="fa fa-info-circle fa-2x" aria-hidden="true"> </i>
                Detalhes
            </a>
        </p>
    </agm-info-window>


    </agm-marker>
  </agm-map>
  
  <ion-item>
    <ion-label position="floating">Bairro</ion-label>
    <ion-input value="" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Rua</ion-label>
    <ion-input value=""  ></ion-input>
  </ion-item>
</ion-content>