<ion-header class="header header-md ">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md" defaultHref="home" ></ion-back-button>
    </ion-buttons>
    <ion-title class="title-md "> Voltar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="content-container" padding fullscreen text-center>
    <!-- <ion-item>
        <ion-label text-center>Pesquisa de vagas</ion-label>
      </ion-item> -->


  <!-- <ion-title class="home-title">  </ion-title> -->

  <agm-map *ngIf="posicaoUsuario" style="height:100%;" [zoom]="15" [latitude]="posicaoUsuario.coords.latitude" [longitude]="posicaoUsuario.coords.longitude">
    <agm-marker
      *ngFor="let quarteirao of quarteiroes"
      [latitude]="quarteirao.latitude"
      [longitude]="quarteirao.longitude" >

      <agm-info-window>
        <p> <strong> Rua {{ quarteirao.rua.nome }}</strong> </p>
        <p>Vagas livres: {{ getVagasLivres(quarteirao) }}</p>
        <p>Vagas CPD livres : {{ getVagasCpdLivres(quarteirao) }}</p>
        <p>Vagas idoso livres : {{ getVagasIdososLivres(quarteirao) }}</p>

        <p>
            <a class="clickable" (click)="abrirVagas(quarteirao.id)">
              <fa-icon [icon]="['fa', 'info-circle']"></fa-icon> Detalhes
            </a>
        </p>

        <p>
            <a class="clickable" (click)="auditar(quarteirao.id)">
              <fa-icon [icon]="['fa', 'exclamation-triangle']"></fa-icon> Auditar
            </a>
        </p>
    </agm-info-window>


    </agm-marker>
  </agm-map>
<!--
  <ion-item>
    <ion-label position="floating">Bairro</ion-label>
    <ion-input value="" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Rua</ion-label>
    <ion-input value=""  ></ion-input>
  </ion-item> -->
</ion-content>
