<ion-header class="header header-md ">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title class="title-md "> Voltar </ion-title>
    <ion-buttons slot="end">
      <ion-button name="create" (click)="toggleEditar()">Editar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <form *ngIf="true" [formGroup]="reservaForm">

    <ion-card>

      <ion-card-header text-center>
        <ion-title>Reserva de vaga</ion-title>
      </ion-card-header>

      <ion-card-content *ngIf="true">

        <ion-item>
          <input type="hidden" formControlName="entrada" />
          <ion-label position="floating">Entrada</ion-label>
          <ion-input value="{{dataAtual | date:'dd/MM/yyyy HH:mm:ss'}}" [disabled]="true"></ion-input>
        </ion-item>

        <ion-item>
          <input type="hidden" formControlName="saida" />
          <ion-label position="floating">Previsão de saida </ion-label>
          <ion-select
            [interfaceOptions]="{header:'Previsão de saida'}"
            interface="action-sheet"
            cancelText="Cancelar"
            class="form-control"
            (ionChange)="alterarPrevisao($event.target.value)">
            <ion-select-option value="0.5">30 min</ion-select-option>
            <ion-select-option value="1">1 horas</ion-select-option>
            <ion-select-option value="2">2 horas</ion-select-option>
            <ion-select-option value="3">3 horas</ion-select-option>
            <ion-select-option value="4">4 horas</ion-select-option>
            <ion-select-option value="5">6 horas</ion-select-option>
            <ion-select-option value="8">8 horas</ion-select-option>
          </ion-select>
          <p style="overflow: hidden">{{ previsaoSaida | date: 'dd/MM/yyy HH:mm:ss'}} </p>
        </ion-item>

        <ion-item>
            <input type="hidden" formControlName="pagamento" />
          <ion-label position="floating">Forma de pagamento</ion-label>
          <ion-select [interfaceOptions]="{header:'Forma de pagamento'}"
            interface="action-sheet" cancelText="Cancelar" class="form-control"
            (ionChange)="alterarPagamento($event.target.value)" >
            <ion-select-option value="DEBITO">Débito</ion-select-option>
            <ion-select-option value="CREDITO">Crédito</ion-select-option>
          </ion-select>
        </ion-item>

      </ion-card-content>
    </ion-card>

    <ion-button
      color="success"
      style="padding: 0 1em "
      expand="block"
      type="button"
      id="btnSalvar"
      (click)="salvar()" *ngIf="vagaDisponivel">Confirmar vaga</ion-button>
    <!-- TODO Criar uma pagina simulando o pagamento -->
  </form>
</ion-content>
