<ion-header class="header header-md ">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title class="title-md "> Voltar </ion-title>
    <!-- <ion-buttons slot="end">
      <ion-button name="create" (click)="toggleEditar()">Editar</ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>

    <ion-card-header text-center >
      <ion-title>Detalhe de vaga</ion-title>
    </ion-card-header>

    <ion-card-content *ngIf="true">
      <ion-item>
        <ion-label position="floating">Municipio</ion-label>
        <ion-input value="Rio de Janeiro" disabled="{{hasID}}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Bairro</ion-label>
        <ion-input value="Ramos"  disabled="{{hasID}}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Rua</ion-label>
        <ion-input value="Avenida das Americas"  disabled="{{hasID}}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Número</ion-label>
        <ion-input value="52311"  disabled="{{hasID}}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Número da Vaga</ion-label>
        <ion-input value="12"  disabled="{{hasID}}"></ion-input>
      </ion-item>
      <!--
      <ion-item>
        <ion-label text-wrap>
          <ion-text color="primary">
            <h3>Tipo</h3>
          </ion-text>
          <p>teste valor</p>
        </ion-label>
      </ion-item> -->

    </ion-card-content>

  </ion-card>
  <ion-button color="success" style="padding: 0 1em " expand="block" type="button"  (click)="reservarVaga()">Reservar vaga</ion-button>
</ion-content>
