<ion-header class="header header-md ">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md" defaultHref="despesas"></ion-back-button>
    </ion-buttons>
    <ion-title class="title-md "> Detalhe da Vaga </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>

    <ion-item>
      <ion-title>Reserva de vaga</ion-title>
    </ion-item>

    <ion-card-content *ngIf="true">
      <ion-item>
        <ion-input required type="text" placeholder="Bairro"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input required type="text" placeholder="Rua"></ion-input>
      </ion-item>
      <ion-item>
          <ion-input required type="text" placeholder="Número"></ion-input>
        </ion-item>
<!-- 
      <ion-item>
        <ion-label text-wrap>
          <ion-text color="primary">
            <h3>Tipo</h3>
          </ion-text>
          <p>teste valor</p>
        </ion-label>
      </ion-item> -->

    </ion-card-content>
  </ion-card>
  <ion-button color="success" style="padding: 0 1em " expand="block" type="button" id="btnSalvar">Reservar vaga</ion-button>
</ion-content>
