<ion-header class="header header-md ">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title class="title-md "> Voltar </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-card>

    <ion-card-header text-center>
      <ion-title>Detalhes da denuncia</ion-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label text-wrap>
          <ion-text color="primary"> Localizacao : </ion-text>
          <ion-text>
            <p> {{ denuncia.vaga.quarteirao.rua.nome }} vaga {{ denuncia.vaga.codigo }}</p>
          </ion-text>
        </ion-label>
        <ion-icon slot="end" name="add" (click)="detalharVaga(denuncia.vaga.id)"></ion-icon>
      </ion-item>
      
      <ion-item>
        <ion-label text-wrap>
          <ion-text color="primary"> Data : </ion-text>
          <ion-text>
            <p> {{denuncia.data | date:'dd/MM/yyyy HH:mm:ss' }}</p>
          </ion-text>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label text-wrap>
          <ion-text color="primary"> Placa do veículo : </ion-text>
          <ion-text>
            <p> {{denuncia.placaInfrator }}</p>
          </ion-text>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label text-wrap>
          <ion-text color="primary"> Relator : </ion-text>
          <ion-text>
            <p> {{denuncia.relator.nome }}</p>
          </ion-text>
        </ion-label>
        <ion-icon slot="end" name="add" (click)="detalharUsuario(denuncia.relator.id)"></ion-icon>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <img [src]="denuncia.imagem"/>
        </ion-avatar>
        <ion-label text-wrap>
          <ion-text color="primary"> Imagem : </ion-text>
        </ion-label>
        <ion-icon slot="end" name="add" (click)="detalharimagem(denuncia.imagem)"></ion-icon>
      </ion-item>

    </ion-card-content>

  </ion-card>
</ion-content>
